.profile{
    background: url(/public/background.jpg) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-container{
    background: rgba(104, 91, 91, 0.29);
border-radius: 16px !important;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.1px);
-webkit-backdrop-filter: blur(5.1px);
border: 1px solid rgba(104, 91, 91, 0.86);
}